<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elijah Others</title>

    <style>
        body{
            font-family:"Poppins",sans-serif;
        }
        .oe-table tr td{
            border: 1px solid black;
        }
        .oe-span{
            margin-left: 10%;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center;">Order Description</h1>
    <table style="border:1px solid black;" class="oe-table">
        <tr>
            <td colspan="3" style="font-size:20px; font-weight:700;text-align:center;">Dear customer,CUSTOMER NAME, your order was successful but we dont sell any product on this website its just a project made by me ELIJAH or KEJI :)</td>
        </tr>
        <tr><td colspan="3"><h5 style="font-size: 20px;">ITEM:   <span class="oe-span" style="font-size: 18px; font-weight: 400;"> iemigigneign</span> </h5></td></tr>
        <tr><td colspan="3"><h5 style="font-size: 20px;">QUANTITY:   <span class="oe-span" style="font-size: 18px; font-weight: 400;"> ubvuibiudbviur</span> </h5></td></tr>
        <tr><td colspan="3"><h5 style="font-size: 20px;">PRICE:   <span class="oe-span" style="font-size: 18px; font-weight: 400;"> ubvuibiudbviur</span> </h5></td></tr>
    </table>
    <h3 class="text-center mt-3">THIS IS A PROGRAM WRITTEN TO TEST MY PROGRAMMING SKILLS USING DJANGO NOTHING MORE.("_")</h3>
</body>
</html>